<!DOCTYPE html>
<html lang="en">

<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" href="images/favicon.ico">
		<meta name="description" content="CS361 Project B">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CS361 Project B</title>
		
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/styleAlt.css" rel="stylesheet">
</head>

<body>
<div class="navbar navbar-fixed-top scroll-me" id="menu-section">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<i class="glyphicon glyphicon-align-justify"></i>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"> <!--BreweryDB API Tutorial -->
					</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="/home">HOME</a></li>
						<li><a href="/problems">PROBLEMS</a></li>
						<li><a href="/account">ACCOUNT</a></li>
						<li><a href="/about">ABOUT US</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="intro-header">
		     <div class="container">
		     	  <div class="row">
			       <div class="col-sm-12">
			           <h1> Top </h1>
				 </div>
			  </div>
	            </div>
                </div>

                <div class="container">
     
			{{{body}}}
		</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/questions.js"></script>
</body>
</html>
