<div class="row">
    <h1>About The Project</h1>
    <p>Some Text here</p>
</div>
<div class="row">
    <h1>About the Developers</h1>
    <div class = "col-sm-8 col-md-4">
        <a href = "#" class = "thumbnail">
            <img src = "/imgs/TannerE.png" alt = "Tanner E.">
            <div class="caption">
                <h3>Tanner E.</h3>
            </div>
        </a>
    </div>
    <div class = "col-sm-8 col-md-4">
        <a href = "#" class = "thumbnail">
            <img src = "/imgs/JosephR.png" alt = "Joseph R.">
            <div class="caption">
                <h3>Joseph R.</h3>
            </div>
        </a>
    </div>
    <div class = "col-sm-8 col-md-4">
        <a href = "#" class = "thumbnail">
            <img src = "/imgs/ScottB.png" alt = "Scott B.">
            <div class="caption">
                <h3>Scott B.</h3>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class = "col-sm-12 col-md-6">
        <a href = "#" class = "thumbnail">
            <img src = "/imgs/MuktakT.png" alt = "Muktak T.">
            <div class="caption">
                <h3>Muktak T.</h3>
            </div>
        </a>
    </div>
    <div class = "col-sm-12 col-md-6">
        <a href = "#" class = "thumbnail">
            <img src = "/imgs/BenF.png" alt = "Ben F.">
            <div class="caption">
                <h3>Ben F.</h3>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <h1>Contact</h1>
    <p>If you would like to contact us with any questions or suggestions you can create a request <a href="https://github.com/englandt/CS361ProjB/issues">here</a>.
        Also feel free to contribute to this project by creating a pull request.</p>
</div>