<div>
    <h1>Add a Problem to the Database</h1>
            <div>
                <h2>Select the Correct Answer</h2>
                <br>
                <select id="correctAnswer" class = "wordList"></select>
            </div>
            <div>
                <h2>Select Three Incorrect Answers</h2><br>
                <select id="incorrectAnswer1" class="wordList"></select><br>
                <select id="incorrectAnswer2" class="wordList"></select><br>
                <select id="incorrectAnswer3" class="wordList"></select><br>
            </div>
            <p><button id="submitButton" >Create Question</button></p>
</div>
<div id="responseArea"> </div>
<script src="/js/add_question.js"></script>