<div>
 <h1> Welcome back! </h1>
 <p> To continue practicing problems, click on <b> practice problems </b> above. </p>

</br>
</br>

<h2> Dolch Word Curriculum </h2>
<caption> How many have you mastered? </caption>
 <table class="table-striped" align = "center"> 

 	
 	<thead>

	 	<tr>
	 		<th> Pre-primer </th>
	 		<th> Primer </th>
	 		<th> First Grade </th>
	 		<th> Second Grade </th>
	 		<th> Third Grade </th>

 	<tbody>
 		<tr>
 			<td> a </td>
 			<td> all </td>
 			<td> after </td>
 			<td> always </td>
 			<td> about </td>
 		<tr>
 			<td> and </td>
 			<td> am </td>
 			<td> again </td>
 			<td> around </td>
 			<td> better </td>
 		<tr>
 			<td> away </td>
 			<td> are </td>
 			<td> an </td>
 			<td> because </td>
 			<td> bring </td>
 		<tr>
 			<td> big </td>
 			<td> at </td>
 			<td> any </td>
 			<td> been </td>
 			<td> carry </td>
 		<tr>
 			<td> blue </td>
 			<td> ate </td>
 			<td> as </td>
 			<td> before </td>
 			<td> clean </td>
 		<tr>
 			<td> can </td>
 			<td> be </td>
 			<td> ask </td>
 			<td> best </td>
 			<td> cut </td>
 		<tr>
 			<td> come </td>
 			<td> black </td>
 			<td> by </td>
 			<td> both </td>
 			<td> done </td>
 		<tr>
 			<td> down </td>
 			<td> brown </td>
 			<td> could </td>
 			<td> buy </td>
 			<td> draw </td>
 		<tr>
 			<td> find </td>
 			<td> but </td>
 			<td> every </td>
 			<td> call </td>
 			<td> drink </td>
 		<tr>
 			<td> for </td>
 			<td> came </td>
 			<td> fly </td>
 			<td> cold </td>
 			<td> eight </td>
 		<tr>
 			<td> funny </td>
 			<td> did </td>
 			<td> from </td>
 			<td> does </td>
 			<td> fall </td>
 		<tr>
 			<td> go </td>
 			<td> do </td>
 			<td> give </td>
 			<td> dont' </td>
 			<td> far </td>
 		<tr>
 			<td> help </td>
 			<td> eat </td>
 			<td> going </td>
 			<td> fast </td>
 			<td> full </td>
 		<tr>
 			<td> here </td>
 			<td> four </td>
 			<td> had </td>
 			<td> first </td>
 			<td> got </td>

 		<tr>
 			<td> I </td>
 			<td> get </td>
 			<td> has </td>
 			<td> five </td>
 			<td> grow </td>

 		<tr>
 			<td> in </td>
 			<td> good </td>
 			<td> her </td>
 			<td> found </td>
 			<td> hold </td>

 		<tr>
 			<td> is </td>
 			<td> have </td>
 			<td> him </td>
 			<td> gave </td>
 			<td> hot </td>

 		<tr>
 			<td> it </td>
 			<td> he </td>
 			<td> his </td>
 			<td> goes </td>
 			<td> hurt </td>

 		<tr>
 			<td> ... </td>
 			<td> ... </td>
 			<td> ... </td>
 			<td> ... </td>
 			<td> ... </td>

 	</tbody>
 </table>
</div>