<div class="col-sm-12 container hidden centerMe">
    <div class="row">
    	 <h2>Which of the following words was spoken?   <span id="repeat" class="glyphicon glyphicon-volume-up"></span></h2>
	  </div>
     <div class="row" id="results-template">
     </div>
</div>
<script src="/js/questions.js"></script>
<script src="http://code.responsivevoice.org/responsivevoice.js"></script>