<div class="col-sm-12 container hidden centerMe">
    <div class="row">
    	 <h2>Which of the following words was spoken?</h2>
	  </div>
     <div class="row" id="results-template">
     </div>
</div>